.my-container {
  margin: auto 20px auto 20px;
  padding: 10px auto 10px auto;
  background-color: #8E41D5;
  border: dashed 12px gold;
  color: white;
}

.formsets legend {
  font-style: oblique;
  color: white;
  text-align: center;
}

.vertical {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}


.radio-btn, .checkbox-btn{
  position: relative;
  left: 5%;
}

 .checkbox-btn input, .radio-btn input{
  position: absolute;
  left:35%;
  top:15%;
}

.my-form-group{
  margin: auto auto auto 10%;
  font-size: 24px;
}

.formsets label {
  text-align: center;
  font-weight: bold;
}


.line-input-field{
  position: absolute;
  right:40px;
  border-radius: 20px;
  background: #ada9a6;
  padding-left: 20px;
  margin-right: 20px;
  width:70%;
  max-width: 80%;
  height: 7px;
  padding: 15px;
  margin: 10px;
}

.text-input-field {
  width:95%;
  padding: auto;
  margin: 20px 20px 20px 20px;
  font-family: "Times New Roman";
}

.submit-btn {
  color: gold;
  border-radius: 10px;
  position: relative;
  left:70%;
  width: 20%;
  font: "Times New Roman";
  font-size: 36px;
  background: purple;
}

h1{
  text-align: right;
}
